<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="title" content="{{ title or metadata.title }}">
    <meta name="description" content="{{ description or metadata.description }}">

    {#- Atom and JSON feeds included by default #}
    <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

    {#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
    <meta name="generator" content="{{ eleventy.generator }}">

    {#- Open Graph / Facebook #}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | htmlBaseUrl(metadata.url) }}">
    <meta property="og:title" content="{{ title or metadata.title }}">
    <meta property="og:description" content="{{ description or metadata.description }}">
    <meta property="og:image" content="{{ '/img/toplogo.jpeg' | htmlBaseUrl(metadata.url) }}">

    {#- Twitter #}
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ page.url | htmlBaseUrl(metadata.url) }}">
    <meta property="twitter:title" content="{{ title or metadata.title }}">
    <meta property="twitter:description" content="{{ description or metadata.description }}">
    <meta property="twitter:image" content="{{ '/img/toplogo.jpeg' | htmlBaseUrl(metadata.url) }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    {% if eleventy.env.runMode === "serve" %}
    <link rel="stylesheet" href="/../public/css/index.css">
    <link rel="stylesheet" href="/../public/css/message-box.css">
    <link rel="stylesheet" href="/../public/css/code-colors.css">
    {% else %}
    <style>
    {% include "public/css/index.css" %}
    {% include "public/css/message-box.css" %}
    {% include "public/css/code-colors.css" %}
    </style>
    {% endif %}

  </head>
  <body>
    <a href="#skip" class="visually-hidden" tabindex="-1">Skip to main content</a>

    <header>
      <a href="/" class="home-link">{{ metadata.title }}</a>

      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <nav aria-labelledby="top-level-label" class="top-nav">
        <h2 class="visually-hidden" id="top-level-label">Top level navigation menu</h2>
        <ul class="nav">
        {%- for entry in collections.all | eleventyNavigation %}
          <li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
        {%- endfor %}
        </ul>
        <ul class="feeds">
          <li class="feed-item"><a href="/feed/feed.xml" title="Atom Feed" download>Atom / RSS</a></li>
          <li class="feed-item"><a href="/feed/feed.json" title="JSON Feed" download>JSON Feed</a></li>
        </ul>
      </nav>
    </header>

    <main id="skip">
      {{ content | safe }}
    </main>

    <footer>© {% copyYear %}</footer>

    <!-- Current page: {{ page.url | htmlBaseUrl }} -->
  </body>
</html>
